In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

path = 'stardata.csv'
df = pd.read_csv(path)

In [2]:
print(df)

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)  \
0               3068          0.002400        0.1700                   16.12
1               3042          0.000500        0.1542                   16.60
2               2600          0.000300        0.1020                   18.70
3               2800          0.000200        0.1600                   16.65
4               1939          0.000138        0.1030                   20.06
..               ...               ...           ...                     ...
235            38940     374830.000000     1356.0000                   -9.93
236            30839     834042.000000     1194.0000                  -10.63
237             8829     537493.000000     1423.0000                  -10.73
238             9235     404940.000000     1112.0000                  -11.23
239            37882     294903.000000     1783.0000                   -7.80

     Star type Star color Spectral Class
0            0        Red              M
1            0        Red              M
2            0        Red              M
3            0        Red              M
4            0        Red              M
..         ...        ...            ...
235          5       Blue              O
236          5       Blue              O
237          5      White              A
238          5      White              A
239          5       Blue              O

[240 rows x 7 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Star color'] = le.fit_transform(df['Star color'])
df['Spectral Class'] = le.fit_transform(df['Spectral Class'])

In [4]:
print(df)

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)  \
0               3068          0.002400        0.1700                   16.12
1               3042          0.000500        0.1542                   16.60
2               2600          0.000300        0.1020                   18.70
3               2800          0.000200        0.1600                   16.65
4               1939          0.000138        0.1030                   20.06
..               ...               ...           ...                     ...
235            38940     374830.000000     1356.0000                   -9.93
236            30839     834042.000000     1194.0000                  -10.63
237             8829     537493.000000     1423.0000                  -10.73
238             9235     404940.000000     1112.0000                  -11.23
239            37882     294903.000000     1783.0000                   -7.80

     Star type  Star color  Spectral Class
0            0          10               5
1            0          10               5
2            0          10               5
3            0          10               5
4            0          10               5
..         ...         ...             ...
235          5           0               6
236          5           0               6
237          5          11               0
238          5          11               0
239          5           0               6

[240 rows x 7 columns]

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop('Temperature (K)', axis=1), df['Temperature (K)'],
                      test_size = 0.3)

In [6]:
from xgboost import XGBRegressor
model = XGBRegressor(objective ='reg:squaredlogerror',
                  n_estimators = 10, seed = 123)
model.fit(x_train, y_train)
model.save_model('model2.json')

In [7]:
from sklearn.metrics import mean_squared_log_error

pred = model.predict(x_test)
print("MSE : % f" %(mean_squared_log_error(y_test, pred)))

MSE :  40.327102